#signUp-component{
    background-color: white;
    min-height: 100vh;
    color: black;
    font-family: Helvetica, sans-serif;
    font-weight: 549;
}
#signUp-card{
    /* background-color: red; */
    width: 348.4px;
    height: 516.2px;
    padding: 14px 18px;
    margin: auto;
    font-family: inherit;
    border-radius: 8px;
    font-size: 13px;
    line-height: 19px;
    color: #111;
    border: 1px #ddd solid;
    border-radius: 8px;
}
.signUp-input{
    width: 100%;
    padding: 3px 7px;
    height: 31px;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,.5), 0 1px 0 rgba(0,0,0,.07) inset;
    margin-bottom: 14px;
    font-weight: 400;
}
.signUp-input:focus{
    background-color: #F7FEFF;
    border-color: #007185;
    box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15,17,17,.15) inset;
}
#signUp-heading{
    margin-bottom: 10px !important;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
}
#signUp-button{
    background-color: #FFD814;
    cursor: pointer;
    border: 1px solid #FCD200;;
    line-height: 19px;
    font-family: inherit;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);
}
#signUp-button:hover{
    background: #F7CA00;
    border-color: #F2C200;
}
#signUp-button:active{
    background-color: #F0B800;
    border-color: #008296;
    box-shadow: 0 0 0 3px #c8f3fa, inset 0 0 0 2px #fff;
}
#signUp-component label{
    font-weight: 700;
    padding: 0px 0px 2px 2px;
    font-size: 13px;
    /* margin-bottom: 10px; */
}
#signUp-logo{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#signUp-logo-container{
    width: 150px;
    height: auto;
    margin: auto;
    padding: 20px 3px;
}
#signUp-password-box{
    margin-bottom: 2px;
}
#signUp-password-box-info{
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
}
#signUp-guidelines{
    margin-bottom: 14px;
    font-size: 12px!important;
    line-height: 1.5!important;
    /* color: red; */
}
#signUp-component a{
    text-decoration: none;
    color: rgb(0, 102, 192);
    cursor: pointer;
}
#signUp-component a:hover{
    color: rgb(196, 85, 0);
    text-decoration: underline 1px solid rgb(196, 85, 0);
}
#signUp-component hr{
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
}
#signUp-anchor-flex{
    display: inline-flex;
    align-items: center;
}