#seeAll-container{
    margin-top: 80px;
    margin-bottom: 3px; 
    padding-left: 3%;
    padding-right: 2%;
    width: 100%;
}

#seeAll-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 166.85px);
    /* background-color: red; */
    gap: 30px;
}